@model SG.Models.ResidualRisk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResidualRisk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Danger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Danger)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vulnerability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vulnerability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dimension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dimension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DangerLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DangerLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VulnerabilityLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VulnerabilityLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelRange)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
